@page "/register"
@using SkillSnap.Client.Services
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<h3>Register</h3>

<EditForm Model="registerModel" OnValidSubmit="HandleRegister">
    <InputText @bind-Value="registerModel.Email" placeholder="Email" />
    <InputText @bind-Value="registerModel.Password" placeholder="Password" type="password" />
    <button type="submit">Register</button>
</EditForm>

@code {
    private RegisterModel registerModel = new RegisterModel();
    private string? errorMessage;

    private async Task HandleRegister()
    {
        var success = await AuthService.Register(registerModel.UserName, registerModel.Email, registerModel.Password);
        if (success)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            errorMessage = "Registration failed. Please try again.";
        }
    }

    public class RegisterModel
    {
        public string UserName {get; set; } = string.Empty;
        public string Email { get; set; } = string.Empty;
        public string Password { get; set; } = string.Empty;
    }
}